<% layout('layouts/boilerplate') %>
<h1>Relay BOARD</h1>
<form action="http://ip:80/control?relay=1" method="post">
    <Button class="btn btn-primary">Relay-1</Button>
</form>
<form action="http://ip:80/control?relay=2" method="post">
    <Button class="btn btn-primary">Relay-2</Button>
</form>
<form action="http://ip:80/control?relay=3" method="post">
    <Button class="btn btn-primary">Relay-3</Button>
</form>
<form action="http://ip:80/control?relay=4" method="post">
    <Button class="btn btn-primary">Relay-4</Button>
</form>
