<% layout('layouts/boilerplate') %>
<div id="main" class="px-4 py-3" style="background-color: rgb(209, 229, 247);">
    <h1>Hello!</h1>
<h2>Welcome to Web of things!</h2>
</div>
<div class="row">
<div class="col-4 px-4 mx-3 mt-3">
    <h2 class="lg">Devices</h2>
    <p>The various devices connected are:</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/pi/">Raspberry pi</a></li>
        <li class="list-group-item"><a href="/camera">Camera</a></li>
        <li class="list-group-item"><a href="/ac">Camera</a></li>
      </ul>
</div>
</div>
