<% layout('layouts/boilerplate') %>
<h1>Control the Room lights</h1>
<!-- <form action="/pi/lights" method="POST"> -->
<form action="/pi/lights" method="POST">
 <button class="btn btn-primary" id="lightToggle">Light toggle</button>
    <!-- <button class="btn btn-success">ON</button> -->
</form>   