<% layout('layouts/boilerplate') %>

<h1>Raspberry Pi Camera</h1>
<div class="w-25 h-25">
	<img src="/images/image.jpeg" alt="Image" style="width:500px; heigth:300px">
</div>
<form action="/camera" method="POST">
    <button class="btn btn-primary"> Get latest image</button>
</form>
